<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Rockcliffe-Smythe Trepanation Clinic</title>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>



	<div class="container body-content">
		<header>
			<h2>@ViewBag.Title</h2>

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Doctor")">Doctors</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Patient")">Patients</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Visit")">Visits</a></li>
                    </ul>
				</div>
			</nav>
		</header>
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - CPAN 253 - V.G.</p>
		</footer>
	</div>

	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>