<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Mimico Promenade Trepanation Clinic</title>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>



	<div class="container body-content">
        <header>
            @Html.Partial("_Header")
            @Html.Partial("_Navbar")
        </header>
		@RenderBody()
		<hr />
		<footer>
			@Html.Partial("_Footer")
		</footer>
	</div>

	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>