@model IEnumerable<A4VG.Models.Admission>
@using A4VG.Models

<h4>Admissions</h4>
<hr />
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Id)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Admitted)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Discharged)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Unit)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Room)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Bed)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Admitted)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Discharged)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Unit)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Room)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Bed)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
				@Ajax.ActionLink("Details", "Details", "Admission", new { id = item.Id }, new AjaxOptions
				{
					HttpMethod = "GET",
					UpdateTargetId = "divAdmissions",
					InsertionMode = InsertionMode.Replace
				}) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
	}

</table>
